body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(200deg 15% 99%);
}

article > section {
  margin-bottom: 3em;
}

.listas-cadastrados > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.listas-cadastrados h1 {
  margin-bottom: 0;
}

.listas-cadastrados ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.listas-cadastrados li {
  display: inline-flex;
  gap: 1em;
}

.lista-juniors li :first-child {
  color: hsl(120, 100%, 25%);
}

.lista-masters li :first-child {
  color: hsl(240, 100%, 50%);
}

.lista-seniors li :first-child {
  color: hsl(300, 100%, 25%);
}
